<app-header></app-header>

<ion-content>
  <!-- Background page -->
  <app-background></app-background>
  <!-- Login Form -->
  <div class="login-form">
    <div class="form-top">
      <div class="triangle-up"></div>
      <div class="triangle-down"></div>
      <!-- <div>
        <ion-text>đăng nhập</ion-text>
      </div> -->
    </div>
    <div class="form-content">
      <ion-text>
        <p class="label-lg">Tên đăng nhập / Email</p>
      </ion-text>
      <ion-input class="input-lg"></ion-input>
      <ion-text>
        <p class="label-lg">Mật khẩu</p>
      </ion-text>
      <ion-input class="input-lg"></ion-input>
      <ion-text>
        <small class="text-note">Chưa có tài khoản, <i tappable routerLink='/signup'>đăng ký tại đây</i></small>
      </ion-text>
      <ion-buttons>
        <ion-button class="button-lg log-but">
          Đăng Nhập
        </ion-button>
        <ion-button class="button-lg forgot-but" (click) ='forgetPass()'>
          Quên ?
        </ion-button>
      </ion-buttons>
    </div>
    <div class="another-login">
      <ion-text>
        <p>Hoặc đăng nhập bằng</p>
      </ion-text>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-icon tappable size='small' name="logo-facebook" class="logo-lg fb-logo"></ion-icon>
          </ion-col>
          <ion-col>
            <ion-icon tappable size='small' name="logo-google" class="logo-lg gg-logo"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>