<ion-header>
  <ion-toolbar>
    <ion-title>Thống kê</ion-title>
    <ion-buttons slot='end'>
      <ion-button routerLink='/home' (click)= 'presentLoading()'>
        <ion-icon name='log-out' class="log-out-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content-box">
    <ion-grid class="filter-bar">
      <ion-row>
        <ion-col size='7'>
          <ion-searchbar class="search-bar" (ionChange)='filterSearch($event)'></ion-searchbar>
        </ion-col>
        <ion-col size='5'>
          <ion-datetime class="time-pick" displayFormat="DD/MM/YYYY" placeholder="Chọn Ngày"></ion-datetime>
        </ion-col>
      </ion-row>
    </ion-grid>
    
    <ion-text>
        <p class="table-title">Bảng Thống Kê Sinh Viên Vắng Theo Lớp</p>
    </ion-text>
    <ion-grid class="table-header">
        <ion-row>
            <ion-col size='2'>STT</ion-col>
            <ion-col size='8' style='text-align: left;'>Tên Lớp</ion-col>
            <ion-col size='2'>Vắng</ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid class="table-content" *ngFor="let item of ListShow; index as i">
        <ion-row>
            <ion-col size='2'>{{i+1}}</ion-col>
            <ion-col size='8'>
                <ion-text>
                    <p class="class-name" id="{{item.name}}">{{item.name}}</p>
                    <p class="class-id" id="{{item.id}}">{{item.id}}</p>
                </ion-text>
            </ion-col>
            <ion-col size='2'>
                <ion-note color='danger'>{{item.count}}</ion-note>
            </ion-col>
        </ion-row>
    </ion-grid>
</div>
</ion-content>
