<ion-content>
  <div class="schedule-box">
    <ion-searchbar class="search-bar" placeholder='ten lop'></ion-searchbar>
    <ion-grid class="time-pick-box">
      <ion-row>
        <ion-col>
          <ion-label class="time-title">Ngày bắt đầu</ion-label>
          <ion-datetime class="time-pick" displayFormat="DD/MM/YYYY" placeholder="chọn"></ion-datetime>
        </ion-col>
        <ion-col>
          <ion-label class="time-title">Ngày kết thúc</ion-label>
          <ion-datetime class="time-pick" displayFormat="DD/MM/YYYY" placeholder="chọn"></ion-datetime>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid class="class-result">
      <ion-row *ngFor='let item of ListShow' tappable class="class-info" routerLink='/attendance/{{item.id}}' (click) = 'presentLoading()'>
        <ion-col size='3' class="left-info">
          <ion-icon class="icon-class" name="home"></ion-icon>
          <ion-text><p class="no-mar number-class">{{item.room}}</p></ion-text>
        </ion-col>
        <ion-col size='9' class="right-info">
          <ion-text>
            <p class="no-mar name-class">{{item.object}}</p>
            <p class="count-class">Sỉ số : {{item.max}} |  Thứ: {{item.day}} |  start: {{item.start}} |  end: {{item.end}}</p>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>