ion-content {
    --background: lightblue;
}
.schedule-box {
    padding:10px;
}
.time-pick-box {
    padding:0;
}
.time-pick-box ion-row ion-col {
    text-align: center;
}
.search-bar {
    --background: whitesmoke;
    border-radius: 20px;
    padding:0;
    margin-bottom: 5px;
}
.time-pick {
    padding:10px;
    height:36px;
    width:100%;
    border-bottom: 1px solid white;
    text-align: center;
    margin-top:10px;
    color:lightcoral;
}
.class-info {
    background-color: white;
    border-radius: 10px;
    margin-bottom: 10px;
}
.left-info{
    text-align: center;
}
.icon-class {
    font-size:20px;
}
.no-mar {
    margin:0;
}
.number-class {
    color:lightcoral;
}
.name-class {
    font-size:14px;
}
.count-class {
    margin: 10px 0 0 0;
    font-size:12px;
}

