<ion-content>
  <div class="schedule-box">
    <ion-searchbar class="search-bar" placeholder='ten lop'></ion-searchbar>
    <ion-grid class="time-pick-box">
      <ion-row>
        <ion-col>
          <ion-label class="time-title">Ngày bắt đầu</ion-label>
          <ion-datetime class="time-pick" displayFormat="DD/MM/YYYY" placeholder="chọn"></ion-datetime>
        </ion-col>
        <ion-col>
          <ion-label class="time-title">Ngày kết thúc</ion-label>
          <ion-datetime class="time-pick" displayFormat="DD/MM/YYYY" placeholder="chọn"></ion-datetime>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid class="class-result">
      <ion-row tappable class="class-info" routerLink='/attendance' (click) = 'presentLoading()'>
        <ion-col size='3' class="left-info">
          <ion-icon class="icon-class" name="home"></ion-icon>
          <ion-text><p class="no-mar number-class">A202</p></ion-text>
        </ion-col>
        <ion-col size='9' class="right-info">
          <ion-text>
            <p class="no-mar name-class">Lập trình di động </p>
            <p class="count-class">Sỉ số : 30/30</p>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row tappable class="class-info" routerLink='/attendance'>
        <ion-col size='3' class="left-info">
          <ion-icon class="icon-class" name="home"></ion-icon>
          <ion-text><p class="no-mar number-class">A202</p></ion-text>
        </ion-col>
        <ion-col size='9' class="right-info">
          <ion-text>
            <p class="no-mar name-class">Lập trình di động </p>
            <p class="count-class">Sỉ số : 30/30</p>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>