<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Điểm danh</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-background></app-background>
  <ion-card class="student-box" id='student' tappable (click) ='checkStudent($event, item.idsv)' *ngFor='let item of attendance'>
    <ion-card-header>
      <ion-img src="../assets/images/login-avatar.png" class="student-ava"></ion-img>
    </ion-card-header>
    <ion-card-content class='student-info'>
      <ion-text>
        <p class="stu stu-name">{{item.name}}</p>
        <p class="stu stu-id">{{item.idsv}}</p>
      </ion-text>
    </ion-card-content>
    <div class="checkbox">
      <ion-checkbox class="checkbox-ip" disabled [(ngModel)]='item.check'></ion-checkbox>
    </div>
  </ion-card>
  
  
</ion-content>
<ion-footer>
  <ion-buttons>
    <ion-button class="end-check-btn" (click)='end()'>
      Kết thúc điểm danh
    </ion-button>
  </ion-buttons>
</ion-footer>