.search-list-teacher {
    background-color: lightgray;
    margin: 0 auto;
    width: 100%;
    height: 36px;
    border-radius: 20px;
}
.add-icon {
    width:100%;
    height:36px;
}
.item-options-ios.item-options-end {
    border:none;
}
.each-item:nth-child(odd) > .item-info{
    background-color: white;
}
.each-item:nth-child(odd) > .item-info .item-id{
    color: rgb(154, 166, 189);
}
.each-item:nth-child(even) > .item-info{
    background-color: rgb(154, 166, 189);
}
.item-img {
    width:100%;
    height:30px;
    text-align: left;
}
.item-name, .item-id {
    margin:0;
}
.item-name {
    font-size:14px;
    color: rgb(0,23,68);
}

.item-id {
    font-size: 11px;
    color:white;
}
.edit-btn {
    color:white;
}