<ion-content>
    <div class="content-box">
        <ion-searchbar class="search-bar"></ion-searchbar>
        <ion-text>
            <p class="table-title">Bảng Thống Kê Sinh Viên Vắng Theo Lớp</p>
        </ion-text>
        <ion-grid class="table-header">
            <ion-row>
                <ion-col size='2'>STT</ion-col>
                <ion-col size='8' style='text-align: left;'>Tên Lớp</ion-col>
                <ion-col size='2'>Vắng</ion-col>
            </ion-row>
        </ion-grid>
        <ion-grid class="table-content">
            <ion-row>
                <ion-col size='2'>1</ion-col>
                <ion-col size='8'>
                    <ion-text>
                        <p class="class-name">Chất lượng cao TKW</p>
                        <p class="class-id">123KC_1232</p>
                    </ion-text>
                </ion-col>
                <ion-col size='2'>
                    <ion-note color='danger'>2</ion-note>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-grid class="table-content">
            <ion-row>
                <ion-col size='2'>2</ion-col>
                <ion-col size='8'>
                    <ion-text>
                        <p class="class-name">Chất lượng cao TKW</p>
                        <p class="class-id">123KC_1232</p>
                    </ion-text>
                </ion-col>
                <ion-col size='2'>
                    <ion-note color='danger'>2</ion-note>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-grid class="table-content">
            <ion-row>
                <ion-col size='2'>3</ion-col>
                <ion-col size='8'>
                    <ion-text>
                        <p class="class-name">Chất lượng cao TKW</p>
                        <p class="class-id">123KC_1232</p>
                    </ion-text>
                </ion-col>
                <ion-col size='2'>
                    <ion-note color='danger'>2</ion-note>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>