<ion-content>
  <div class="info-box">
    <ion-text>
      <p class="input-lb">Họ Và Tên <ion-icon class="edit-icon" tappable name="create-sharp"></ion-icon></p>
    </ion-text>
    <ion-input class="input-field" disabled value=''></ion-input>
    <ion-text>
      <p class="input-lb">Mã số Giáo Viên <ion-icon class="edit-icon" tappable name="create-sharp"></ion-icon></p>
    </ion-text>
    <ion-input class="input-field" disabled value=''></ion-input>
    <ion-text>
      <p class="input-lb">Email đăng ký <ion-icon class="edit-icon" tappable name="create-sharp"></ion-icon></p>
    </ion-text>
    <ion-input class="input-field" disabled value=''></ion-input>
    <ion-text>
      <p class="input-lb">Số Điện Thoại <ion-icon class="edit-icon" tappable name="create-sharp"></ion-icon></p>
    </ion-text>
    <ion-input class="input-field" disabled value=''></ion-input>
    <ion-text>
      <p class="input-lb">Ảnh Đại Diện <ion-icon class="edit-icon" tappable name="create-sharp"></ion-icon></p>
    </ion-text>
    
  </div>

</ion-content>