ion-content {
    --background: lightblue;
}
.info-box {
    padding: 10px;
    width:80%;
    margin:0 auto;
}
.input-lb {
    position: relative;
    text-transform: capitalize;
}
.edit-icon {
    position: absolute;
    top:50%;
    right:0;
    transform: translateY(-50%);
    font-size: 20px;
}
.input-field {
    background-color: white;
    border: 2px solid rgb(0,23,68);
    border-radius: 20px;
    height:30px;
    margin: 5px 0;
    --padding-start: 15px;
}