.content-box {
    width:100%;
    padding:5px;
    text-align: center;
    background-color: rgba(0,23,68,0.7);
    height:100%;
}
.search-bar {
    border:2px solid #001744;
    background-color: lightgray;
    border-radius: 20px;
    padding:0;
    height:36px!important;
    margin-bottom: 5px;
}
.table-title {
    font-size:12px;
    font-weight: bold;
    text-transform: uppercase;
    color:white;
}
.table-header{
    font-size:12px;
    font-weight: bold;
    background-color: black;
    color:white;
}
.class-name, .class-id {
    margin:0;
    text-align: left;
}
.class-name {
    font-size:12px;
    font-weight: bold;
    text-transform: capitalize;;
}
.class-id {
    font-size: 10px;
    color:lightslategrey;
}
.table-content:nth-child(odd){
    background-color: lightsteelblue;
}
.table-content:nth-child(even){
    background-color: white;
}