<ion-app>
  <ion-menu class='main-menu' side="end" menuId="main-menu" contentId="main">
    <ion-header>
      <ion-toolbar>
        <ion-title class="title-menu">điểm danh</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list class="list-menu">
        <ion-item tappable routerLink='/home' (click)="closeMenu()">Trang Chủ</ion-item>
        <ion-item tappable routerLink='/login'  (click)="closeMenu()">Đăng Nhập</ion-item>
        <ion-item tappable routerLink='/signup'  (click)="closeMenu()">Đăng Ký</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
