<app-header></app-header>

<ion-content [fullscreen]="true">
  <!-- Background page -->
  <app-background></app-background>
  <!-- Content -->
  <ion-text>
    <p class="home-title">hệ thống quản lý <br /> sinh viên </p>
  </ion-text>
  <div class="direction">
    <div class="line line-b1"></div>
    <div class="line line-b2"></div>
    <div class="line line-b3"></div>
    <div class="line line-b4"></div>
    <div class="line line-b5"></div>
  </div>
  <!-- Back to top -->
  <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="back-to-top-but" color='light'>
      <ion-icon name="arrow-up"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->
  <ion-grid class="intro-box">
    <ion-row>
      <ion-col>
        <p class="introduce-content">
          Thao tác nhanh chóng và dễ dàng
        </p>
      </ion-col>
      <ion-col>
        <p class="introduce-content">
          Thuận Tiện trong việc quản lý
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p class="introduce-content">
          Dễ dàng tiếp cận với người dùng
        </p>
      </ion-col>
      <ion-col>
        <p class="introduce-content">
          cộng đồng hỗ trợ tận tình 
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- Divider -->
  <div class="direction">
    <div class="line line-b5"></div>
    <div class="line line-b4"></div>
    <div class="line line-b3"></div>
  </div>
  <ion-buttons class="begin-but">
    <ion-button routerLink='/login' (click) = 'presentLoading()'>Bắt Đầu Ngay</ion-button>
  </ion-buttons>
</ion-content>