<ion-content>
  <ion-grid class="filter-row">
      <ion-row>
          <ion-col size="10">
              <ion-searchbar class="search-list-teacher" (ionChange)="filterSearch($event)"></ion-searchbar>
          </ion-col>
          <ion-col size="2">
              <ion-icon tappable name="person-add-sharp" size='large' class="add-icon" (click) = 'addForm()'></ion-icon>
          </ion-col>
      </ion-row>
  </ion-grid>

  <ion-item-sliding *ngFor="let item of ListClass" class="each-item">
      <ion-item-options side="start" class="item-function">
          <ion-item-option color="medium" expandable class="expand-btn edit-btn" >
              Edit
          </ion-item-option>
      </ion-item-options>
      <ion-item class="item-info">
          <ion-grid tappable (click)='showInfo(item)'>
              <ion-row>
                  <ion-col size='3'>
                      <ion-img src='../assets/images/login-avatar.png' class="item-img"></ion-img>
                  </ion-col>
                  <ion-col size='9'>
                      <ion-text>
                          <p class="item-name">{{item.property.id}}</p>
                          <p class="item-id">{{item.property.idobj}}</p>
                      </ion-text>
                  </ion-col>
              </ion-row>
          </ion-grid>
      </ion-item>
      <ion-item-options side="end" class="item-function">
          <ion-item-option color="danger" expandable class="expand-btn delete-btn" (click) ='delete(item.property.id)'>
              Delete
          </ion-item-option>
      </ion-item-options>
  </ion-item-sliding>
</ion-content>
