<app-header></app-header>

<ion-content>
  <!-- Background page -->
  <app-background></app-background>
  <div class="signup-form">
    <div class="form-top">
      <div class="triangle-up"></div>
      <div class="triangle-down"></div>
      <!-- <div>
        <ion-text>đăng nhập</ion-text>
      </div> -->
    </div>
    <div class="form-content">
      <ion-text>
        <p class="label-lg">Tên đăng nhập / Email</p>
      </ion-text>
      <ion-input [(ngModel)]='txtuser' class="input-lg"></ion-input>
      <ion-text>
        <p class="label-lg">Mật khẩu</p>
      </ion-text>
      <ion-input [(ngModel)]='txtpwd' class="input-lg"></ion-input>
      <ion-text>
        <p class="label-lg">Xác nhận Mật khẩu</p>
      </ion-text>
      <ion-input [(ngModel)]='txtrepwd' class="input-lg"></ion-input>
      <ion-buttons>
        <ion-button (click)='signup()' class="button-lg log-but">
          Đăng Ký
        </ion-button>
      </ion-buttons>
    </div>
    <div class="another-login">
      <ion-text>
        <p>Hoặc đăng ký bằng</p>
      </ion-text>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-icon tappable size='small' name="logo-facebook" class="logo-lg fb-logo"></ion-icon>
          </ion-col>
          <ion-col>
            <ion-icon tappable size='small' name="logo-google" class="logo-lg gg-logo"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>