.alert-wrapper.sc-ion-alert-ios {
    background-color:white;
}
.cancel-alert {
    color:lightcoral!important;
}
.icon-inner {
    display:none;
}
.loading-wrapper.sc-ion-loading-ios {
    background-color:white;
}